<div class="container border border-black mt-3">
    <p class="display-4">Post #<%= post.id %></p>
    <p>Post Title : <%= post.title %></p>
    <p><%= post.text %></p>
    <p>Likes: <%= post.likes_counter %></p>
    <p>Comments: <%= post.comment_counter %></p>
</div>
